body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-weight: bold;
    margin: 10px;
    font-size: 40px;
    color:white;
    background-image: linear-gradient(to right, rgba(63, 133, 235, .8), rgba(0, 0, 81, 1));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-element {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.pure-form {
    margin: 10px;
}

main h2 {
    display: inline-block;
}

.current-weather-box-style {
    border: 2px black solid ;
    padding: 2%;
    margin: 2%;
}

.current-weather-box-style p {
    margin-top: 5px;
}

.hidden {
    visibility: hidden;
}
